@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

button {
    cursor: pointer;
}

.topbar {
    display: flex;
    justify-content: end;
    padding: 5px 20px;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 800;


}

.topbar span {
    margin-left: 5px;
    font-weight: 400;
    margin-right: 0;
    font-size: smaller;

}

.topbar i {
    margin-left: 20px;
    color: white;
}

.topbar {
    background-color: #073980;
}

.navbar img {
    width: 250px;
    z-index: 2;
    margin-left: 18px;
    margin-top: 5px;
    margin-right: 0;
}



header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
    z-index: 1;
}


header {
    color: white;
    height: 60vh;
    background: url('/images/background-actualites.png')center center/cover no-repeat;
    position: relative;

}


header .navbar,
header .intro {
    position: relative;
    z-index: 2;

}

header .intro a {
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}


.navbar ul {
    display: flex;
    margin-right: 50px;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
}

.navbar ul li a {
    padding: 20px 20px;
    color: grey;
}


.navbar ul li button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 600;
    margin-left: 50px;
    color: white;
    background-color: #b22222;

}

.navbar ul li a:hover {
    color: #b22222;
}


.navbar ul li button i {
    margin-left: 10px;
}

header .intro {
    margin-left: 120px;
    margin-top: 120px;

}


header .intro h1 {
    color: #073980;
    font-size: 40px;
    margin-bottom: 20px;
}

header .intro p {
    margin-left: 380px;
    color: #b22222;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;

}

header .intro i {

    font-size: 5px;
    margin-right: 10px;
    margin-left: 10px;
}


#actualites {
    padding-left: 120px;
    padding-right: 100px;
    padding-top: 50px;
    background-color: rgb(245, 241, 241);
    padding-bottom: 30px;
}

#actualites .content-actualites {
    display: flex;

}
#actualites .content-actualites .avantages{
margin-right: 70px;
width: 700px;

}
#actualites .content-actualites .avantages p{
    color: gray;
    font-weight: 400;
    font-size: 15px;
line-height: 20px;}
#actualites .content-actualites .avantages .info2 h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 14px;
    margin-top: 14px;
}
#actualites .content-actualites .avantages .images{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;

}
#actualites .content-actualites .avantages .images img{
    width: 320px;
    height: 210px;
}
#actualites .content-actualites .avantages .images .img1{
    margin-right: 20px;

}
#actualites .content-actualites .avantages .info3 p{
    margin-bottom: 100px;
}



#actualites .content-actualites .info .infoo .infoo1 {
    text-align: center;
}

#actualites .content-actualites .info .infoo .infoo1 img {
    width: 120px;
    border-radius: 100px;
    margin-bottom: 10px;
}

#actualites .content-actualites .info .infoo .infoo1 .nom {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 13px;

}

#actualites .content-actualites .info .infoo .infoo1 .description {
    font-size: 13px;
    font-size: 500;
    color: gray;
    margin-bottom: 25px;
}

#actualites .content-actualites .info .infoo .infoo1 button {
    color: white;
    background-color: rgb(70, 168, 70);
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 10px;
    margin-bottom: 20px;
}

#actualites .content-actualites .info .infoo .infoo1 button i {
    margin-right: 10px;
}

#actualites .content-actualites .info h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 14px;
}

#actualites .content-actualites .info .infoo .infoo2 .categorie {
    display: inline-flex;
    align-items: center;
}

#actualites .content-actualites .info .infoo .infoo2 .categorie .clima {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

#actualites .content-actualites .info .infoo .infoo2 .categorie .clima i {
    font-size: 4px;
    color: rgb(161, 190, 231);
    margin-right: 10px;
}

#actualites .content-actualites .info .infoo .infoo2 .categorie .number {
    font-size: 13px;
    color: gray;
    margin-left: 100px;

}

.hr {
    margin-top: 20px;
    margin-bottom: 20px;

    width: 220px;
}

#actualites .content-actualites .info .infoo .infoo3 .articles .article {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#actualites .content-actualites .info .infoo .infoo3 .articles .article img {
    width: 45px;
    height: 40px;
    border: none;
    border-radius: 200px;
    margin-right: 8px;
}

#actualites .content-actualites .info .infoo .infoo3 .articles .article a {
    font-size: 14px;
    font-weight: 500;
    color: black;

}

#actualites .content-actualites .info .infoo .infoo4 .tags {
    display: flex;
    align-items: center;
    text-align: center;
}

#actualites .content-actualites .info .infoo .infoo4 .tags p {
    margin-right: 5px;
    font-size: 8px;
    color: gray;
    border: 1px lightgrey solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 18px;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 5px;
    background-color: white;
}




#actualites .content-actualites .info .infoo .infoo4 .searchcontainer {
    position: relative;
}


#actualites .content-actualites .info .infoo .infoo4 .searchbar {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

#actualites .content-actualites .info .infoo .infoo4 .searchcontainer::before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: gray;
}
#actualites  .infoo4 .tags {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#actualites .infoo4 .tags p {
    margin-right: 5px;
    font-size: 8px;
    color: gray;
    border: 1px lightgrey solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 18px;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 5px;
    background-color: white;
}




footer {
    padding-top: 10px;
    padding-bottom: 180px;
    padding-right: 130px;
    padding-left: 130px;
    height: 65vh;
    background-color: #073980;
    display: flex;
    flex-direction: row;
    color: white;
}

footer .infoo {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    width: 200px;
}

footer img {
    width: 100px;
    display: flex;
    justify-content: left;
    align-items: start;
    margin-bottom: 10px;
}

footer .infoo p {
    font-size: 10px;
    margin-right: 0;
    margin-bottom: 11px;

}

footer .links div {
    flex: 1;
    /* Makes all child divs take equal width */
    margin: 0 10px;
    text-align: center;
}

footer .infoo i {
    margin-right: 5px;
    font-size: 15px;

}

footer .infoo li a,
footer .infoo p {
    color: white;
    display: flex;
    align-items: flex-start;
    font-size: 8px;
    margin-bottom: 10px;

}

footer .infoo .title {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 20px;
}

footer .infoo .reseaux i {
    font-size: 25px;
    display: inline;
    padding: 5px;
}

footer hr {
    opacity: 0.1;
}

footer .links .copyright {
    margin-top: 30px;
    display: flex;
    font-size: 8px;
}

footer .links .copyright .white {
    margin-right: 50px;
}

footer .links .copyright .lightblue {
    color: lightskyblue;
}